body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card {
    margin-top: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.card p {
    font-size: 18px;
    color: #333;
}

.card iframe {
    width: 100%; /* Занимает всю ширину контейнера */
    height: 300px; /* Фиксированная высота */
    border: none; /* Убираем рамку */
    border-radius: 10px; /* Закругляем углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}
